.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding-top:90px;
}

.hero-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.hero-left h1{
    font-size:60px;
    line-height:1.1;
    margin:25px 0;
}

.hero-left p{
    color:var(--text-light);
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
}

.hero-badge{

    display:inline-block;

    background:var(--primary-light);

    color:var(--primary);

    padding:10px 20px;

    border-radius:50px;

    font-weight:600;
}

.hero-buttons{

    display:flex;

    gap:20px;
}

.hero-right img{

    border-radius:25px;

    box-shadow:var(--shadow);

    object-fit:cover;
}

@media(max-width:992px){

.hero-container{

grid-template-columns:1fr;

}

.hero-left{

order:2;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-left h1{

font-size:45px;

}

}